/* import the required JSAPI css */
// @import url('https://js.arcgis.com/4.12/esri/css/main.css');

// .esri-view {
//   height: 500px;
// }

/* Container to hold both the sidebar and the map */
.container {
  display: flex;
  height: calc(100vh - 64px);
  width: 100%;
}

/* Map view styling */
.map-view {
  flex: 1; /* Takes up the remaining space next to the sidebar */
  height: 100%;
}

/* Floating Action Button (FAB) styling */
.fab {
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  z-index: 1100;
  transition: background-color 0.3s;
}

.fab:hover {
  background-color: #c0392b;
}

.places-select-container {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 99;
  background: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  font-family: "Avenir Next", sans-serif;
}
