.container {
  display: flex;
  height: calc(100vh - 64px);
  width: 100%;
}

.map-view {
  flex: 1;
  height: 100%;
}

.fab {
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  z-index: 1100;
  transition: background-color 0.3s;
}

.fab:hover {
  background-color: #c0392b;
}