<header class="navbar">
  <div class="navbar-left" (click)="router.navigate(['/home'])">
    <img src="assets/logo.png" alt="Logo">
  </div>

  <nav class="navbar-center">
    <a *ngFor="let tab of centerTabs"
       [routerLink]="tab.link"
       routerLinkActive="active-link"
       class="nav-link">
      {{ tab.name }}
    </a>
  </nav>

  <div class="navbar-right">
    <div class="auth-group" *ngIf="!isLoggedIn()">
      <button mat-raised-button color="primary" (click)="router.navigate(['/login'])">Login</button>
      <button mat-raised-button color="primary" (click)="router.navigate(['/register'])">Register</button>
    </div>

    <div class="auth-group" *ngIf="isLoggedIn()">
      <button mat-raised-button color="warn" (click)="logoutFromApp()" matTooltip="Logout">Logout</button>
    </div>

    <div class="role-box" 
        [class.clickable]="isLoggedIn()" 
        [style.cursor]="isLoggedIn() ? 'pointer' : 'default'"
        (click)="isLoggedIn() ? router.navigate(['/profile']) : null" 
        [matTooltip]="isLoggedIn() ? 'Go to Profile' : ''">
      
      {{ isLoggedIn() ? currentUser?.name : 'Guest' }}

    </div>

  </div>
  
</header>

<router-outlet></router-outlet>