<div class="register">
  <h2>Create your account</h2>

  <form (ngSubmit)="onSubmit()" #signupForm="ngForm">

    <!-- Role -->
    <mat-form-field appearance="fill">
    <mat-label>Role</mat-label>
    <mat-select name="role" [(ngModel)]="role" required>
        <mat-option value="client">Client</mat-option>
        <mat-option value="provider">Provider</mat-option>
    </mat-select>
    </mat-form-field>

    <!-- Name -->
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput name="name" [(ngModel)]="name" required>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="email" required>
    </mat-form-field>

    <!-- Phone -->
    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput name="phone" [(ngModel)]="phone">
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="password" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Sign Up</button>
  </form>

  <!-- Mesaj succes / eroare -->
  <p *ngIf="message" [ngClass]="{'success': success, 'error': !success}">{{ message }}</p>
</div>
