.container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* ocupă tot ecranul */
}

.map-container {
  flex: 1; /* jumătate din ecran */
  height: 100%;
}

.reservation-panel {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-left: 1px solid #ccc;
  background-color: #f9f9f9;
}

.hours-selection {
  margin-top: 15px;
  margin-bottom: 15px;
}
