<div class="map-container" #mapViewNode></div>

<div *ngIf="selectedLocation" class="reservation-panel">
  <h3>Rezervări pentru: {{ selectedLocation.attributes.Name }}</h3>
  
  <!-- Calendar Angular Material -->
  <mat-calendar [(selected)]="selectedDate" (selectedChange)="onDateSelected($event)"></mat-calendar>

  <div *ngIf="availableHours.length > 0" class="hours-selection">
    <h4>Selectează intervalele disponibile:</h4>
    <div *ngFor="let hour of availableHours">
      <mat-checkbox [(ngModel)]="hour.selected" [disabled]="hour.disabled">{{ hour.label }}</mat-checkbox>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="confirmReservation()">Rezervă</button>
</div>
